@page
@model RazorEmpleats.Pages.Empleats.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>EmpleatInfo</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EmpleatInfo.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EmpleatInfo.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EmpleatInfo.Surname)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EmpleatInfo.Surname)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EmpleatInfo.Position)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EmpleatInfo.Position)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EmpleatInfo.Salary)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EmpleatInfo.Salary)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="EmpleatInfo.ID" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
